vendor/
!resources/views/vendor
node_modules/
npm-debug.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
public/1541475024220.jpg
public/1542027875641.jpg
public/1542044015909.jpg
public/1542043899228.JPG
*.jpg
