.admin-container {
	min-height: calc(100vh - 150px);
	margin-top: 150px;
	margin-bottom: 200px;

	.admin-section {
		display: none;
	}

	ul {
		li {
			display: inline-block;
		}
	}
}

.admin-form-wrapper {
	margin: 150px auto;
}

#no-email {
	margin-top: 10px;
}

.user-delete, .advisor-delete, .advisorRequest-delete, .advisorRequest-approve {
	cursor: pointer;
}

#admin-email-wrapper {
	margin-top: 150px;
	margin-bottom: 150px;

	h3 {
		margin-bottom: 20px;
	}
}

#admin-blog-wrapper {
	margin-top: 150px;
	text-align: center;

	header {
		margin-bottom: 50px;
	}

	#blog-input {
		margin-bottom: 100px;
		padding-top: 25px;
		min-height: 100px;

		&:focus {
			outline: none;
		}
	}

	#submit-blog-btn {
		margin-bottom: 150px;
	}
}