#FLC-wrapper {
	padding-bottom: 200px;
}

#FLC-page-header {
	font-size: 3.5em;
	text-align: center;
}

#FLC-copy {
	font-size: 1.5em;
	margin: 0 auto 50px auto;
	text-align: center;
}

#FLC-filters {
	text-align: center;
	margin-bottom: 30px;

	nav a {
		background-color: #3f8888;
		color: #fff;
		margin-right: 5px;
		margin-bottom: 5px;

		&:hover {
			background-color: #f2da64;
			color: #000 !important;
			box-shadow: 0 0 5px #000;
		}

		&:focus {
			outline: 0;
			color: #fff !important;
		}

		&.active {
			background-color: #f2da64;
			color: #000 !important;
			box-shadow: 0 0 5px #000;
		}
	}

	#filters-subtext {
		display: none;
		margin-top: 20px;

		i {
			margin-right: 5px;
			font-size: 12px;
			font-weight: bold;
			cursor: pointer;
		}
	}
}

.blog-post {
	margin-bottom: 15px;

	.advisor-blog-post {
		border: 1px solid #c0c0c0;
		padding: 5px;
		box-shadow: 0 0 5px #c0c0c0;
		border-radius: 5px;

		.advisor-blog-notice, .blog-info-advisor-name {
			font-size: 10px;
			font-weight: 600;
			margin-top: 5px;
		}

		.blog-info-advisor-firm {
			font-size: 10px;
			font-weight: 600;
			margin-bottom: 5px;
		}
	}

	img {
		width: 100%;
		background-position: 50% 0;
		border-radius: 5px;
	}

	.blog-info-title {
		font-size: 14px;
		font-weight: 600;
		line-height: 17px;
		margin-top: 5px;
		margin-bottom: 5px;

		a {
			text-decoration: none;
			color: $main-color;
		}
	}

	.blog-info-snippet {
		font-size: 14px;
		line-height: 19px;
	}

	.blog-info-date {
		font-size: 10px;
		margin-top: 10px;
	}

	.blog-external-notice
	{
		font-size: 10px;
		position: absolute;
		bottom: 5px;
		right: 25px;
	}
}

#blog-post-wrapper {

	#blog-post-img {
		text-align: center;
		margin-bottom: 50px;

		img {
			max-height: 600px;
		}
	}

	#blog-post-title {
		text-align: center;
	}

	#blog-post-date {
		text-align: center;
		margin-bottom: 50px;
	}

	#blog-post-content-wrapper {
		margin-bottom: 200px;

		img {
			max-width: 75%;
			height: auto;
			display: block;
			margin: auto;
		}

		strong {
			font-weight: 600 !important;
		}
	}
}

@media (max-width: 575.98px) {
	#blog-post-wrapper {
		text-align: justify;
	}

	#filters {
		flex-direction: initial !important;
	}
}

@media (max-width: 991.98px) {
	#FLC-wrapper {
		max-width: 100% !important;
	}
}

@media (min-width: 1200px) {
	#FLC-copy {
		max-width: 75%;
	}
}