.blog-grid {
	margin-bottom: 200px;
}

.blog-post {
	margin-bottom: 15px;

	.advisor-blog-post {
		border: 1px solid #c0c0c0;
		padding: 5px;
		box-shadow: 0 0 5px #c0c0c0;
		border-radius: 5px;

		.advisor-blog-notice, .blog-info-advisor-name {
			font-size: 10px;
			font-weight: 600;
			margin-top: 5px;
		}

		.blog-info-advisor-firm {
			font-size: 10px;
			font-weight: 600;
			margin-bottom: 5px;
		}
	}

	img {
		width: 100%;
		background-position: 50% 0;
		border-radius: 5px;
	}

	.blog-info-title {
		font-size: 14px;
		font-weight: 600;
		line-height: 17px;
		margin-top: 5px;
		margin-bottom: 5px;

		a {
			text-decoration: none;
			color: $main-color;
		}
	}

	.blog-info-snippet {
		font-size: 14px;
		line-height: 19px;
	}

	.blog-info-date {
		font-size: 10px;
		margin-top: 10px;
	}
}

#blog-post-wrapper {

	#blog-post-img {
		text-align: center;
		margin-bottom: 50px;

		img {
			max-height: 600px;
		}
	}

	#blog-post-title {
		text-align: center;
	}

	#blog-post-date {
		text-align: center;
		margin-bottom: 50px;
	}

	#blog-post-content-wrapper {
		margin-bottom: 200px;

		img {
			max-width: 75%;
			height: auto;
			display: block;
			margin: auto;
		}

		strong {
			font-weight: 600 !important;
		}
	}
}

@media (max-width: 575.98px) {
	#blog-post-wrapper {
		text-align: justify;
	}
}