#discussion-wrapper {
	margin-top: 150px;

	#discussion-top {
		text-align: center;
		margin: auto;

		#discussion-top-advisor {
			text-align: center;
			margin: auto;

			img {
				margin: auto;
				height: 200px;
			}
		}

		#question-details-icon {
			font-size: 2em;
			
			span {
				cursor: pointer;
			}
		}

		#question-details {
			display: none;
			margin: 0 auto 50px auto;
			background-color: $text-color-splash;
			padding: 15px;

			.answer {
				margin-left: 10px;
				margin-bottom: 0px;
				font-weight: bold;
			}

			.separator {
				display: block;
				border: 1px solid #fff;
				margin: 10px 0px;
			}
		}
	}

	.discussion-post-content-user {
		position: relative;
		background: $text-color-splash;
		border-radius: .4em;
		min-height: 100px;
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 80%;
			width: 0;
			height: 0;
			border: 20px solid transparent;
			border-right-color: $text-color-splash;
			border-left: 0;
			border-bottom: 0;
			margin-top: -10px;
			margin-left: -20px;
		}
	}

	.discussion-post-content-advisor {
		position: relative;
		background: $text-color-splash;
		border-radius: .4em;
		min-height: 100px;
		display: flex;
		align-items: center;
		margin-bottom: 10px;

		&:after {
			content: '';
		    position: absolute;
		    right: 0;
		    top: 70%;
		    width: 0;
		    height: 0;
		    border: 20px solid transparent;
		    border-left-color: #9acccd;
		    border-right: 0;
		    border-bottom: 0;
		    margin-bottom: -10px;
		    margin-right: -20px;
		}
	}

	.discussion-post-wrapper:last-child {
		margin-bottom: 150px;
	}

	.discussion-post-name-user, .discussion-post-name-advisor {
		clear: both;
	}

	.discussion-post-name-advisor {
		text-align: right;
	}

	#email-notifications {
		margin: 50px auto 0px auto;
		padding-left: 0px;

		.text-danger {
			margin-left: auto;
			margin-right: auto;
		}
	}

	#discussion-input {
		margin: 0px auto 200px auto;
		padding: 1px;
	}

	#typing-notification {
		display: none;
	}

	#submit-btn {
		margin-top: 10px;
	}
}

@media screen and (max-width: 767px)
{
	#discussion-wrapper {
		min-height: calc(100vh - 150px);
	}
}