.profile-wrapper {
	margin-top: 150px;
	overflow: auto;
	padding-bottom: 150px;
	overflow-x: hidden;

	.nav-tabs {
		margin-top: 50px;
	}

	.main-content {

		.content-section {
			padding-top: 25px;
			padding-left: 15px;
			display: none;

			&:first-child {
				display: block;
			}

			h4 {
				margin-bottom: 25px;
			}

			.question-details {
				padding: 15px;
			}

			.question-details, .discussion-details {
				margin-bottom: 10px;
				border-radius: 10px;
				border: 1px solid #a9a9a9;
    			box-shadow: 0 0 3px #a9a9a9;
    			position: relative;

    			#topic-header, #question-header, #name-header, #response-header, .details-header {
    				padding: 0px;
    			}

    			#details-question {
    				margin-bottom: 15px;
    			}

    			#question-metrics {
    				font-size: 0.8em;
				    position: absolute;
				    bottom: 5px;
				    left: 2px;
				    width: 100%;
				    height: 20px;
				    margin-left: 15px;

				    ul {
				    	list-style-type: none;
				    	margin: 0px;
				    	padding: 0px;

				    	li {
				    		display: inline-block;
				    		margin-right: 15px;

				    		&:last-child {
				    			margin-right: 0px;
				    		}
				    	}
				    }
    			}

    			.view-responses {
    				position: absolute;
    				top: 10px;
    				right: 10px;
    			}

    			.question-details-overlay {
				    display: none;
				    background-color: #8eafae;
				    z-index: 1000;
				    align-items: center;
				    position: absolute;
				    top: 0;
				    left: 0;
				    bottom: 0;
				    color: white;
				    width: 100%;

				    p {
				    	margin-left: auto;
				    	margin-right: auto;
				    	font-size: 1.5em;
				    }
    			}
			}

			#edit-email-toggle, #edit-password-toggle {
				cursor: pointer;
			}

			#content-edit-email, #content-edit-password {
				display: none;
			}

			#password-input {
				margin-bottom: 10px;
			}

			#edit-password-form, #edit-email-form {
				margin-bottom: 10px;
			}

			.card {
				margin-bottom: 15px;
			}

			.response-advisor-info, .discussion-advisor-info {
				.advisor-img {
					max-width: 150px;

					img {
						float: left;
						margin-right: 15px;
						border-radius: 5%;
					}
				}

				.advisor-details {
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						h4, h6 {
							margin: 0;
						}
					}
				}
			}

			.discussion-advisor-info {
				min-height: 150px;
			}

			.response-text {
				blockquote {
					text-align: center;
				}

				.lower-quote {
					float: right;

				}
			}

		}
	}
}



/* ADVISOR PROFILE STYLING */

.question-details-wrapper {
	position: relative;

	.question-respond {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.response-input-form {
		display: none;
	    position: relative;
	    top: -10px;
	    padding: 15px;
	    margin-bottom: 10px;
	    border-radius: 10px;
	    border: 1px solid #a9a9a9;
	    -webkit-box-shadow: 0 0 3px #a9a9a9;
	    box-shadow: 0 0 3px #a9a9a9;

	    .help-block {
	    	display: block;
	    	margin-bottom: 10px;
	    }
	}

	.details-question-more {
		.details-header {
			cursor: pointer;
			margin-left: 10px;
		}
		.collapse {
			width: 100%;
		}

		.answer {
			margin-left: 15px;
			font-weight: bold;
		}
	}
}

.response-details-wrapper {
	#details-question {
		margin-bottom: 0px;
	}

	#details-response {
		margin-bottom: 10px;
	}
}

#post-blog-xs {
	display: none;

	&:hover {
		background-color: $form-button-color;
		color: #000;
	}
}

#blogModal .modal-dialog {
	min-width: 800px;

	.modal-header {
		display: initial !important;
	}

	.modal-title {
		text-align: center;
	}

	#navbar-container {
		width: 100%;

		#blog-modal-navbar {
			list-style-type: none;
			display: flex;
			padding: 0;
			margin: 0;

			li {
				flex: 1;
				text-align: center;
				line-height: 3rem;

				&:hover {
					cursor: pointer;
				}

				&.nav-active {
					border-bottom: 1px solid #000;
				}
			}
		}
	}

	#blog-title-input {
		margin-bottom: 15px;
	}
}

#blog-options, .dz-default {
	display: none;
}

/* END ADVISOR PROFILE STYLING */

@media (max-width:576px) {
	.profile-wrapper {
		padding-left: 0px !important;
		padding-right: 0px !important;

		h1 {
			text-align: center;
		}

		.nav-item {
			width: 100%;

			.nav-link {
				border: none !important;
			}
		}
		
		.main-content {
			margin-bottom: 200px;

			.content-section {
				padding-left: 0px;

				h4 {
					text-align: center;
					margin-bottom: 20px;
				}

				.question-details {
					border-radius: 0px;
				}

				.discussion-details {
					border-radius: 0px;
					margin-left: auto;
					margin-right: auto;

					.discussion-link {
						top: auto;
					}

					#details-topic {
						border-top: 1px solid #e3e3e3;
						padding-top: 10px;
						margin-top: 10px;
					}
				}

				.questions-content {
					margin-left: -15px;
					margin-right: -15px;
				}

				#details-topic {
					text-align: center;
					border-bottom: 1px solid #e3e3e3;
					margin: 0;
					padding-bottom: 10px;
				}

				#details-question {
					text-align: center;
					padding-top: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid #e3e3e3;
					margin: 0 0 15px 0;
				}

				.view-responses {
					font-size: 0.7rem !important;
				}

				#section-name {
					td {
						padding: .75rem .5rem !important;
					}
				}
			}
		}
	}

	.hide-xs {
		display: none;
	}	

	#post-blog-xs {
		display: initial;
	}

	.response-advisor-info, .discussion-advisor-info {

		.advisor-img {
			max-width: 100% !important;

			img {		
				float: none;
				margin-bottom: 10px;
				width: 100%;
			}
		}

		.advisor-details {
			text-align: center;
			margin-bottom: 15px;

			li {
				margin-bottom: 5px;
			}
		}
	}

	.discussion-details {
		padding: 15px 15px 55px 15px !important;
	}

	.response-text {
		margin-bottom: 30px;
	}

	.discussion-link {
		width: 100%;
		bottom: 15px;
		left: 0;
		right: 0;
	}

	.discussion-button {
		width: 100%;

		#begin-discussion {
			width: 100%;
			position: relative;
			right: auto;
		}
	}
}

@media (max-width:767px) {
	.discussion-topic {
		.col-sm-10 {
			flex: none;
			max-width: 100%;
		}
	}
}

@media (min-width: 577px) {
	#begin-discussion {
			position: absolute;
			right: 10px;
	}

	.discussion-details {
		padding-top: 15px;
		padding-bottom: 45px;
	}

	.view-responses {
		font-size: 0.8rem !important;
	}

	.discussion-link {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
	}
}

@media (min-width:768px) {
	.discussion-details {
		padding: 15px;
	}

	.discussion-link {
		position: absolute;
		right: 15px;
		top: 15px;
		bottom: auto;
		left: auto;
	}
}