.profile-wrapper {
	margin-top: 150px;
	overflow: auto;
	padding-bottom: 150px;
	overflow-x: hidden;

	.nav-tabs {
		margin-top: 50px;
	}

	.main-content {

		.content-section {
			padding-top: 25px;
			padding-left: 15px;
			display: none;

			&:first-child {
				display: block;
			}

			h4 {
				margin-bottom: 25px;
			}

			.question-details, .discussion-details {
				padding: 15px;
				margin-bottom: 10px;
				border-radius: 10px;
				border: 1px solid #a9a9a9;
    			box-shadow: 0 0 3px #a9a9a9;
    			position: relative;

    			#topic-header, #question-header, #name-header, #response-header, .details-header {
    				padding: 0px;
    			}


    			#question-metrics {
    				font-size: 0.8em;
				    position: absolute;
				    bottom: 5px;
				    left: 2px;
				    width: 100%;
				    height: 20px;
				    margin-left: 15px;

				    ul {
				    	list-style-type: none;
				    	margin: 0px;
				    	padding: 0px;

				    	li {
				    		display: inline-block;
				    		margin-right: 15px;

				    		&:last-child {
				    			margin-right: 0px;
				    		}
				    	}
				    }
    			}

    			.view-responses {
    				position: absolute;
    				top: 10px;
    				right: 10px;
    			}

    			.question-details-overlay {
				    display: none;
				    background-color: #8eafae;
				    z-index: 1000;
				    align-items: center;
				    position: absolute;
				    top: 0;
				    left: 0;
				    bottom: 0;
				    color: white;
				    width: 100%;

				    p {
				    	margin-left: auto;
				    	margin-right: auto;
				    	font-size: 1.5em;
				    }
    			}
			}

			#edit-email-toggle, #edit-password-toggle {
				cursor: pointer;
			}

			#content-edit-email, #content-edit-password {
				display: none;
			}

			#password-input {
				margin-bottom: 10px;
			}

			#edit-password-form, #edit-email-form {
				margin-bottom: 10px;
			}

			.card {
				margin-bottom: 15px;
			}

			.response-advisor-info, .discussion-advisor-info {
				.advisor-img {
					max-width: 150px;

					img {
						float: left;
						margin-right: 15px;
						border-radius: 5%;
					}
				}

				.advisor-details {
					list-style-type: none;
					margin: 0;
					padding: 0;

					li {
						h4, h6 {
							margin: 0;
						}
					}
				}
			}

			.discussion-advisor-info {
				min-height: 150px;
			}

			.response-text {
				blockquote {
					text-align: center;
				}

				.lower-quote {
					float: right;

				}
			}

			.discussion-link {
				position: absolute;
				right: 15px;
				top: 15px;
			}
		}
	}
}



/* ADVISOR PROFILE STYLING */

.question-details-wrapper {
	position: relative;

	.question-respond {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	.response-input-form {
		display: none;
	    position: relative;
	    top: -10px;
	    padding: 15px;
	    margin-bottom: 10px;
	    border-radius: 10px;
	    border: 1px solid #a9a9a9;
	    -webkit-box-shadow: 0 0 3px #a9a9a9;
	    box-shadow: 0 0 3px #a9a9a9;

	    .help-block {
	    	display: block;
	    	margin-bottom: 10px;
	    }
	}

	.details-question-more {
		.details-header {
			cursor: pointer;
			margin-left: 10px;
		}
		.collapse {
			width: 100%;
		}

		.answer {
			margin-left: 15px;
			font-weight: bold;
		}
	}
}

.response-details-wrapper {
	#details-question {
		margin-bottom: 0px;
	}

	#details-response {
		margin-bottom: 10px;
	}
}

/* END ADVISOR PROFILE STYLING */

@media (max-width:576px) {
	.profile-wrapper {
		.nav-item {
			width: 100%;
		}
		
		.main-content {
			margin-bottom: 200px;

			.content-section {
				padding-left: 0px;

				.questions-content {
					margin-left: -15px;
					margin-right: -15px;
				}
			}
		}
	}

		

	.response-advisor-info, .discussion-advisor-info {

		.advisor-img {
			max-width: 100% !important;

			img {		
				float: none;
				margin-bottom: 10px;
				width: 100%;
			}
		}

		.advisor-details {
			text-align: center;
			margin-bottom: 15px;

			li {
				margin-bottom: 5px;
			}
		}
	}

	.discussion-details {
		padding: 15px 15px 55px 15px !important;
	}

	.response-text {
		margin-bottom: 30px;
	}

	.discussion-link {
		bottom: 15px;
		left: 15px;
		right: 15px;
	}

	.discussion-button {
		width: 100%;

		#begin-discussion {
			width: 100%;
			position: relative;
			right: auto;
		}
	}
}

@media (min-width: 577px) {
	#begin-discussion {
			position: absolute;
			right: 10px;
		
	}
}